
/* ========== people and roles ===========*/
.search-input {  
    i {
    position: absolute; 
    left: 25px; 
    bottom: 10px;
    }
    input {
        text-indent: 20px;
    }
}

.role-section {
    tr {    
    .role-title {
        text-align: center; 
    }
    th {
        border-top: none !important;
    }
    }
    tr:hover {
        background: none!important;
    }        
    tbody {
        tr {
        td {
             color: black;
             padding-top:25px;
             border-bottom: 1px solid #ebebeb;
             button {
                    position: relative;
                    margin-left: 30px;
            }
        }
        th {
            padding-top:25px;
            border-bottom: 1px solid #ebebeb;
            }
        }
        }
}

.table-hover {
    margin-top: 50px;
}
.table-name-padding { 
    padding-right: 50px;
    padding-top: 25px;
}
.table-email-padding { 
    padding-right: 50px; 
    padding-top: 25px;
}

.role-selector {
    padding-left: 22px!important;   
}                       
            
/* ================= Tags ============================*/            

.tags-section {
    margin-top: 20px;
}

.tags-input {
    padding-left: 0px;;
    li{
        margin-top: 20px;
        list-style-type:none;   
        input 
            {
                border: 1px solid #D5D5D5;
                width: inherit;
                display: inline-block!important;
            }
        .btn {
            margin-left: 20px;
        }
            
            }
}
               
/* ================= Locations ============================*/  

.locations-section {
    margin-top: 20px;
}

.locations-input {
    padding-left: 0px;;
    li{
        margin-top: 20px;
        list-style-type:none;   
        input 
            {
                border: 1px solid #D5D5D5;
                width: inherit;
                display: inline-block!important;
            }
        .btn {
            margin-left: 20px;
        }
            
            }
      }

/* ============= boostrap overwrite ============ */
     /* ===== table ===*/
.table > thead > tr > th, .table > tbody > tr > th, 
.table > tfoot > tr > th, .table > thead > tr > td, 
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left: 0px;
    
}
              